.songs-table {
    width: 500px;
    text-align: left;
    border-color: #999;
    border-collapse: collapse;
}
.songs-table  tr:nth-child(2n) {
    background: #ddd;
} 
.songs-table  td, .songs-table  th {
    position: relative;
    padding: 5px 10px;
    border-color: #999;
}

.follow-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(./assets/eye.svg);
    vertical-align: top;
}